.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_text {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 46px;
}

.skill_area {
    width: 100%;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    font-size: 16px;
}

.category_active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 25%;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.20);
    color: #FF7D00;
    font-weight: bold;
    cursor: pointer;
}

.category_default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    width: 25%;
    background: #FAFAFA;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
    color: #969696;
    cursor: pointer;
}

.level_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    font-size: 18px;
}

.level_1 {
    color: #ff5d5d;
    margin-bottom: 8px;
}

.level_2 {
    color: #FF7D00;
    margin-bottom: 8px;
}

.level_3 {
    color: #7878ff;
}
