.aaa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bbb {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 46px;
}

.ccc {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ccc > div {
    max-width: 1200px;
    width: 100%;
}

:root {
    --swiper-theme-color: #ffe2c0;
}
