.aaa {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bbb {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 46px;
}

.ccc {
}

:root {
    --swiper-theme-color: #ffe2c0;
}
