.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_text {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 46px;
}

.content > div:nth-child(2) {
    max-width: 1200px;
}

:root {
    --swiper-theme-color: #ffe2c0;
}
