@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.aaa {
    width: 100%;
    height: 680px;
    background-color: #fff;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.25);
    border-radius: 10px;
    margin: 2px 0;
    box-sizing: border-box;
    padding: 40px;
}

/*.bbb{*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    background-color: #61dafb;*/
/*    -webkit-box-reflect: below 30px linear-gradient(transparent, rgba(0,0,0,0), rgba(0,0,0,0.3));*/
/*}*/

.bbb {
    width: 100%;
    height: 226px;
}

.ppp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    background-color: #ffc988;
    color: white;
    border-radius: 12px;
    margin-top: 12px;
    cursor: pointer;
}

.ppp:hover {
    background-color: #fee8b1;
    transition: all cubic-bezier(0.27, 0.13, 0.37, 1.03) 1s 0s;
}

.qqq {
    display: flex;
    justify-content: center;
}

.zzz {
    width: 40%;
    height: 226px;
}

.aaa:hover{
    /*background-color: #777474;*/
    /*transition: all 1s;*/
}

.ccc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.ddd {
    font-size: 26px;

}

.eee {
    width: 100%;
    margin-top: 8px;
}

.fff {
    display: flex;
    align-items: center;
    height: 36px;
}

.ggg {
    display: flex;
    flex-direction: column;
}

.ggg > span:nth-child(1){
    display: flex;
    align-items: center;
    height: 36px;
}

.fff > span:nth-child(1), .ggg > span:nth-child(1) {
    font-size: 16px;
    margin-right: 6px;
    font-weight: bold;
}

.fff > span:nth-child(2), .ggg > span:nth-child(2) {
    font-size: 16px;
}

.hhh {
    margin-top: 8px;
}

@media (max-width: 1100px) {
    .fff {
        display: flex;
        align-items: flex-start;
        height: auto;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 8px;
    }

    .aaa {
        height: auto;
    }
}
