@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.main {

}

.aaa {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
}

.aaa > div {
    margin: 0 22%;
    min-width: 700px;
}

.bbb{
    border: 0.1px solid #b9b9b9;
    margin: 100px 10%;
}
