.content {
    font-family: 'Pretendard';
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding: 0 12vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #000;
    background: #fff;
    display: flex;
    z-index: 20;
}

.logo > span {
    font-size: 26px;
    font-weight: 900;
    font-weight: bold;
}
