.aaa {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bbb {
    width: 600px;
    margin-bottom: 100px;
    margin-top: 160px;
}

.ccc {
    word-break: keep-all;
    font-size: 36px;
    margin-bottom: 40px;
}

.ddd {
    word-break: keep-all;
    font-size: 21px;
}
